{
    "openapi": "3.0.0",
    "info": {
        "title": "API Gestion Bancaire",
        "description": "API REST pour la gestion des comptes bancaires",
        "contact": {
            "email": "contact@ramatoulaye.gueye.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://api.ramatoulaye.gueye.com/api/v1",
            "description": "Serveur de production"
        },
        {
            "url": "http://127.0.0.1:8000/api/v1",
            "description": "Serveur de développement local"
        }
    ],
    "paths": {
        "/api/v1/comptes": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Lister tous les comptes bancaires",
                "description": "Récupère la liste paginée de tous les comptes bancaires selon les permissions de l'utilisateur",
                "operationId": "getComptes",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrer par type de compte",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "epargne",
                                "cheque"
                            ]
                        }
                    },
                    {
                        "name": "statut",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "actif",
                                "bloque",
                                "ferme"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche par titulaire ou numéro de compte",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Tri par champ",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dateCreation",
                                "solde",
                                "titulaire"
                            ]
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordre de tri",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "desc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des comptes récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Données récupérées avec succès"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                                    },
                                                    "numeroCompte": {
                                                        "type": "string",
                                                        "example": "C00123456"
                                                    },
                                                    "titulaire": {
                                                        "type": "string",
                                                        "example": "Amadou Diallo"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "epargne",
                                                            "cheque"
                                                        ]
                                                    },
                                                    "solde": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1250000
                                                    },
                                                    "devise": {
                                                        "type": "string",
                                                        "example": "FCFA"
                                                    },
                                                    "dateCreation": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "statut": {
                                                        "type": "string",
                                                        "enum": [
                                                            "actif",
                                                            "bloque",
                                                            "ferme"
                                                        ]
                                                    },
                                                    "motifBlocage": {
                                                        "type": "string",
                                                        "nullable": true
                                                    },
                                                    "metadata": {
                                                        "properties": {
                                                            "derniereModification": {
                                                                "type": "string",
                                                                "format": "date-time"
                                                            },
                                                            "version": {
                                                                "type": "integer",
                                                                "example": 1
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "properties": {
                                                "currentPage": {
                                                    "type": "integer"
                                                },
                                                "totalPages": {
                                                    "type": "integer"
                                                },
                                                "totalItems": {
                                                    "type": "integer"
                                                },
                                                "itemsPerPage": {
                                                    "type": "integer"
                                                },
                                                "hasNext": {
                                                    "type": "boolean"
                                                },
                                                "hasPrevious": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "links": {
                                            "properties": {
                                                "self": {
                                                    "type": "string"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "first": {
                                                    "type": "string"
                                                },
                                                "last": {
                                                    "type": "string"
                                                },
                                                "previous": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Les données fournies sont invalides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé - Token manquant ou invalide"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "422": {
                        "description": "Données de validation invalides"
                    },
                    "429": {
                        "description": "Trop de requêtes - Rate limiting"
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/comptes/{compteId}": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Récupérer un compte spécifique",
                "description": "Récupère les détails d'un compte bancaire spécifique selon les permissions de l'utilisateur",
                "operationId": "getCompte",
                "parameters": [
                    {
                        "name": "compteId",
                        "in": "path",
                        "description": "ID du compte bancaire",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du compte récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Données récupérées avec succès"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "example": "550e8400-e29b-41d4-a716-446655440000"
                                                },
                                                "numeroCompte": {
                                                    "type": "string",
                                                    "example": "C00123456"
                                                },
                                                "titulaire": {
                                                    "type": "string",
                                                    "example": "Amadou Diallo"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "epargne",
                                                        "cheque"
                                                    ]
                                                },
                                                "solde": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1250000
                                                },
                                                "devise": {
                                                    "type": "string",
                                                    "example": "FCFA"
                                                },
                                                "dateCreation": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "statut": {
                                                    "type": "string",
                                                    "enum": [
                                                        "actif",
                                                        "bloque",
                                                        "ferme"
                                                    ]
                                                },
                                                "motifBlocage": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "metadata": {
                                                    "properties": {
                                                        "derniereModification": {
                                                            "type": "string",
                                                            "format": "date-time"
                                                        },
                                                        "version": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Compte non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "error": {
                                            "properties": {
                                                "code": {
                                                    "type": "string",
                                                    "example": "COMPTE_NOT_FOUND"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "example": "Le compte avec l'ID spécifié n'existe pas"
                                                },
                                                "details": {
                                                    "properties": {
                                                        "compteId": {
                                                            "type": "string",
                                                            "example": "550e8400-e29b-41d4-a716-446655440000"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètres invalides",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Les données fournies sont invalides."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non autorisé - Token manquant ou invalide"
                    },
                    "403": {
                        "description": "Accès refusé"
                    },
                    "422": {
                        "description": "Données de validation invalides"
                    },
                    "429": {
                        "description": "Trop de requêtes - Rate limiting"
                    },
                    "500": {
                        "description": "Erreur interne du serveur"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "tags": [
        {
            "name": "Comptes",
            "description": "Comptes"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ]
}